doctype html 
html 
    head
        meeta(charset="UFT-8")
        link(rel="stylesheet", href="css/ejercicio-pug.css")
    body 
        header 
            hi PlatziGames
            a.boton Registro
