-var titulos = ["Titulo Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
//-var usuario = "Daniel"
mixin caja(imagen, titulo, contenido)
    .caja 
        .caja__imagen: img(src="images/"+imagen)
        .caja__contenido 
            h3=titulo
            p=contenido
doctype html 
html 
    head
        meeta(charset="UFT-8")
        link(rel="stylesheet", href="css/ejercicio-pug.css")
    body 
        header 
            hi PlatziGames
            if usuario 
                a Hola #{usuario}
            else
                a.boton Registro
        section.intro
            .intro__imagen: img(src="images/imagen.png")
            .into__contenido
            h2 #{titulos[0]}
            p
                |   Lorem ipsum dolor sit amet 
                |   consectetur adipisicing elit. 
                |   Atque voluptate necessitatibus ea modi, 
                |   ratione ipsa in ad veniam facilis natus 
                |   magnam similique. Ratione atque unde minus 
                |   voluptatem et quod praesentium?
                span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit nisi accusantium beatae tenetur natus hic enim consequuntur, nobis deserunt earum aliquid culpa dignissimos blanditiis magni soluta ea aspernatur animi totam? 
            a.boton Leer Mas
        main.contenido
            +caja("imagen.png",titulos[1],"Lorem ipsum dolor sit amet consectetur adipisicing elit.") 
            +caja("imagen.png",titulos[2],"Lorem ipsum dolor sit amet consectetur adipisicing elit.")
            +caja("imagen.png",titulos[3],"Lorem ipsum dolor sit amet consectetur adipisicing elit.")
