doctype html 
html 
    head
        meeta(charset="UFT-8")
        link(rel="stylesheet", href="css/ejercicio-pug.css")
    body 
        header 
            hi PlatziGames
            a.boton Registro
        section.intro
            .intro__imagen: img(src="images/imagen.png")
            .into__contenido
            h2 Titulo Principal
            p
                |   Lorem ipsum dolor sit amet 
                |   consectetur adipisicing elit. 
                |   Atque voluptate necessitatibus ea modi, 
                |   ratione ipsa in ad veniam facilis natus 
                |   magnam similique. Ratione atque unde minus 
                |   voluptatem et quod praesentium?
                span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit nisi accusantium beatae tenetur natus hic enim consequuntur, nobis deserunt earum aliquid culpa dignissimos blanditiis magni soluta ea aspernatur animi totam? 
            a.boton Leer Mas
