@color-primario: #333333;
@color-claro: #FFFFFF;
@color-secundario: #8841da;
@color-variacion: #012179;
@fuente1: 'Lato', sans-serif;
@fuente2: 'Oswald', sans-serif;
@fuente-base: 18px;
@dark-mode: false;

.sombra-caja {
    box-shadow: 0px 5px 15px 0px fade(@color-primario, 50%);
}

.Oswald{
    font-family: @fuente2;
    text-transform: uppercase;
    font-weight: 700;
}

.fuente(@font-size){
    font-size: @font-size;
    line-height: @font-size + 10%;
}

.Dark() when (@dark-mode = true) {
    background-color: @color-primario;
    color: @color-claro;
    .intro {
        background-color: @color-secundario;
    }
    .articulo--prinxipal{
        h2 {
            color: @color-secundario;
        }
    }
    .caja{
        &__contenido{
            background-color: @color-secundario;
        }
        span{
            color: @color-claro;
        }
        a {
            color: @color-claro;
        }
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: @fuente1;
    color: @color-primario;
    .fuente(@fuente-base);
    .Dark;
}

h1,h2,h3 {
    margin: 0;
    .Oswald;
}