extend componentes/plantilla.pug 
block contenidos
        section.intro
            .intro__imagen: img(src="images/imagen.png")
            .into__contenido
            h2 #{titulos[0]}
            p
                |   Lorem ipsum dolor sit amet 
                |   consectetur adipisicing elit. 
                |   Atque voluptate necessitatibus ea modi, 
                |   ratione ipsa in ad veniam facilis natus 
                |   magnam similique. Ratione atque unde minus 
                |   voluptatem et quod praesentium?
                span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit nisi accusantium beatae tenetur natus hic enim consequuntur, nobis deserunt earum aliquid culpa dignissimos blanditiis magni soluta ea aspernatur animi totam? 
            a.boton Leer Mas
        main.contenido
            +caja("imagen.png",titulos[1],"Lorem ipsum dolor sit amet consectetur adipisicing elit.") 
            +caja("imagen.png",titulos[2],"Lorem ipsum dolor sit amet consectetur adipisicing elit.")
            +caja("imagen.png",titulos[3],"Lorem ipsum dolor sit amet consectetur adipisicing elit.")
